/* body style */
body{
  background: #F9F3F2;
}

/* this styles for elements are in HeaderSection.vue file */
.head-judul{
  position: relative;
  background-color: #fff;
}

.txt-logo{
  font-family: 'Advent Pro';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  line-height: 86px;
  font-size: 72px;
  color: #737373;
}

.head-circle{
  position: absolute;
  left: 50%;
  top: 5%;
  z-index: -99;
  transform: translate(-50%,-50%);
  width: 484px;
  height: 484px;
  background: linear-gradient(178.18deg, #E8D0A8 -13.56%, #AF988A 158.3%);
}
/* End - HeaderSection.vue */

/* this styles for elements are in LoginContentSection.vue file */
.login-item{
  width: 100%;
  padding: 150px 50px 50px 50px;
  margin: auto !important;
}

.login-item .log{
  border-right: 1px solid #CDCDCD;
}

.log-judul, .reg-judul{
  font-family: 'Rubik';
  font-style: normal;
}

.log-judul h3{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #8A7F77;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.log-judul p{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #402B2B;
  margin-bottom: 10px;
}

.reg-judul h3{
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #8A7F77;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.reg-judul p{
  text-align: right;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #402B2B;
}
/* End - LoginContentSection.vue */

/* this styles for elements are in LoginFormSection.vue and RegisterFormSection.vue file */
.log-form-input{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.log-form-input div input, .res-form-input div input{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #C5AE96;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 20px;
}

.log-btn-submit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.log-forgot-pass p{
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #D5A26E;
}

.log-forgot-pass p:hover{
  cursor: pointer;
}

.log-button{
  box-shadow: 5px solid black;
}

.log-button button, .res-button button{
  width: 220px;
  height: 60px;
  background: #D5A26E;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: 5px 5px 1px #b59270;
}
/* End - LoginFormSection.vue and RegisterFormSection.vue */

/* this styles for elements are in RegisterFormSection.vue file */
.res-form-input{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.res-button button{
  width: 100%;
  text-align: left;
  padding-left: 25px;
  margin-top: 20px;
}
/* End - RegisterFormSection.vue */

/* this styles for elements are in ProfileSection.vue file */
.img-profile{
  text-align: center;
}

.img-profile img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  border: 8px outset white;
}

.img-profile p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #5E6282;
  text-transform: capitalize
}
/* End - ProfileSection.vue */

/* this styles for elements are in ProfileContentSection.vue file */
.cont-profile-sect{
  display: flex;
  justify-content: space-between;
  width: 750px;
  margin: auto;
}

.email-profile-sect p, .nomer-profile-sect p{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #402B2B;
  margin-bottom: 0;
}

.email-profile-sect input, .nomer-profile-sect input{
  width: 350px;
  background: #FFFFFF;
  border: 1px solid #C5AE96;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
}

.email-verified, .nomer-verified{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.log-out{
  text-align: center;
  width: 105px;
  margin: 50px auto 0 auto;
  cursor: pointer;
}

.log-out span:nth-child(1){
  margin-right: 11px
}

.log-out span:nth-child(2){
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #707C97;
}
/* End - ProfileContentSection.vue */

/* add responsive breakpoints */
/* for tablets and up */
@media screen and (max-width: 768px) {
  .login-item .log{
    border: none;
    margin-bottom: 50px;
  }

  .reg-judul h3, .reg-judul p{
    text-align: left;
  }

  .res-form-input{
    padding-left: 0 !important;
  }

  .cont-profile-sect{
    flex-direction: column;
  }

  .cont-profile-sect{
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .email-profile-sect, .nomer-profile-sect{
    margin-top: 20px;
  }
}

/* for desktops and up */
@media screen and (max-width: 992px) { 
  .login-item{
    padding-left: 20px;
    padding-right: 20px;
  }

  .log-judul h3, .reg-judul h3{
    font-size: 25px;
  }

  .log-judul p, .reg-judul p{
    font-size: 15px;
  }

  .log-forgot-pass p{
    font-size: 13px;
  }

  .log-button button{
    width: 160px;
  }

  .log-form-input{
    width: 100%;
    padding-right: 20px;
  }

  .res-form-input{
    padding-left: 20px;
  }
}


/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');